#title{
    text-align: center;
    color: azure;
    width: 92%;
    padding: 60px;
    background-color: black;
    border-radius: 40px;

}
#nav{
    text-align: center;
    font-weight: 900;
   padding-right: 50px;

}

li{
    display: inline;
    padding: 6px;
}
